<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/images/favicon.ico">

    <title>About Us</title>
    <link rel="icon" href="static/images/logo.png">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
    
</head>
<body class="aboutbody">
        <nav>
          <div class="logo-container">
            <img src="static/images/logo.png" class="logo" alt="Logo" title="MediaSynthX">
            <img src="static/images/logoText2.png" class="logotext" alt="LogoText" title="MediaSynthXtext">
            </div>
            <ul class="navbar">
                <li>
                    <a href="./home">Home</a>
                    <a href="./home#text">Convert</a>
                    <a href="./home#package">Members</a>
                    <a href="./about">About Us</a>
                    <a id="loginLogoutLink" href="./login">{{ login_status }}</a>
                </li>
            </ul>
        </nav>
        
        
    <section class="about">
           <div class="main">
            <img src="static/images/aboutpic.jpg" alt="My Photo">
                <div class="abt-text">
                    <h1>About <span>Us</span></h1>
                    <p>With MediaSynthX as your co-pilot, we transform mere text into vibrant, dynamic multimedia experiences. Dive into a world where imagination knows no bounds, and let us take your ideas to the next level. Join us on this exhilarating journey of imagination, innovation, and endless possibilities!</p>
                    <a href="https://github.com/eysha-raazia/Text2Multimedia-Generation" class="connectbtn" target="_blank">Connect with us!</a>

                </div>
        
           </div>
           

    </section>
    
<!-- Footer -->

<section class="footer-rest">
    <div class="foot">
        <div class="footer-content">
            
            <div class="footlinks">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="./register">Register</a></li>
                    <li><a href="./about">About Us</a></li>
                   
                </ul>
            </div>

            <div class="footlinks">
                <h4>Connect</h4>
                <div class="social">
                    <a href="https://github.com/eysha-raazia/Text2Multimedia-Generation" target="_blank"><i class='bx bxl-github'></i></a>
                </div>
            </div>
            
        </div>
    </div>

</section>

</body>
</html>
