<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Text to video</title>
    <link rel="icon" href="static/images/logo.png">
    <link rel="shortcut icon" href="static/images/favicon.ico">
    <link rel="stylesheet" type="text/css" href="static/css/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Paytone+One&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet"
    href="https://unpkg.com/boxicons@latest/css/boxicons.min.css">
   
</head>
<body>
    <!-- Background Video & Header -->
    <div class="banner">
        <video src="static/video/Background.mp4" type="video/mp4" autoplay muted loop></video>
    
    <!-- Header -->
    <div class="content" id="home"> 
        <navhome>
          <div class="logo-container">
            <img src="static/images/logo.png" class="logo" alt="Logo" title="MediaSynthX">
            <img src="static/images/logoText.png" class="logotext" alt="LogoText" title="MediaSynthXtext">
            </div>
            <ul class="navbar">
                <li>
                    <a href="./home#home">Home</a>
                    <a href="./home#text">Convert</a>
                    <a href="./home#package">Members</a>
                    <a href="./about">About Us</a>
                    <a id="loginLogoutLink" href="./login">{{ login_status }}</a>
                </li>
            </ul>
        </navhome>
 
        <div class="title">
            <h1>MediaSynthX</h1>
            <p>Transforming Text Into Dynamic Videos!</p>
            <a id="Register_now" class="button">{{ register_text }}</a>
        </div>
        </div>
    </div>

<!-- Services -->

<script src="static/js/index.js"></script>

<!-- Locations ////// text.html -->

<section class="text" id="text">
    <div class="package-title">
        <h2>Text<span> Input</span> </h2>
    </div>

    <div class="location-content">
        <a href="./text"><div class="col-content">
        <video src="static/video/convert.mp4" type="video/mp4" autoplay muted loop></video>
        </div></a>

    </div>
</section>

<!-- Packages -->

<section class="package" id="package">
    <div class="package-title">
        <h2>Team <span>Members</span></h2>
    </div>

    <div class="package-content">
        <div class="box">
            <div class="image">
                <img src="static/images/p3.jpeg" alt="">
                
            </div>
        
        <div class="dest-content">
            <div class="location">
                <h4>Alishba Laeeq </h4>
            </div>
        </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="static/images/p2.jpg" alt="">
                
            </div>
        
        <div class="dest-content">
            <div class="location">
                <h4>Ayesha Qureshi </h4>
            </div>
        </div>
        </div>

        <div class="box">
            <div class="image">
                <img src="static/images/p4.jpeg" alt="">
                
            </div>
        
        <div class="dest-content">
            <div class="location">
                <h4>Eysha Raazia </h4>
            </div>
        </div>
        </div>

    </div>

</section>

<!-- Footer -->

<section class="footer">
    <div class="foot">
        <div class="footer-content">
            
            <div class="footlinks">
                <h4>Quick Links</h4>
                <ul>
                    <li><a href="./register">Register</a></li>
                    <li><a href="./about">About Us</a></li>
               
                </ul>
            </div>

            <div class="footlinks">
                <h4>Connect</h4>
                <div class="social">                 
                    <a href="https://github.com/eysha-raazia/Text2Multimedia-Generation" target="_blank"><i class='bx bxl-github'></i></a>
                </div>
            </div>
            
        </div>
    </div>

</section>


 
</body>
</html>
